@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
    width: 100%;
    border-bottom: 5px solid darkslategray;
}

a {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    position: relative;
    transition: box-shadow 2.3 ease-in-out;
}

a:hover {
    box-shadow: 0 0 10px 2px darkslategray;
}

.section-1{
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.section-1 h1 {
    /* added to increase h1 size */
    font-size: 2em; 
    color: darkslategray;
    text-shadow: 2px 2px gray;

}

.contact-info {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightgray;
    border-top: 5px solid darkslategray;
    border-bottom: 5px solid darkslategray;
    width: 100%;
    color: white;
    text-shadow: 2px 2px black;
}

.contact-inner {
    max-width: 500px;
    margin: 25px auto;
    border: 2px solid darkslategray;
    border-radius: 10px;
    padding: 10px;
    background-color: #6d695c;
background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px;
}

.contact-info input,
.contact-info label {
    display: block;
    margin: 10px auto;
    text-align: center;
    
}

.footer {
    text-align: center;
    width: 100%;
    padding: 15px;
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: lightgray;
    border: 2px solid #000000;
    box-shadow: 5px 5px 5px black;
    z-index: 1000;
    color: black;
    text-shadow: 2px 2px lightgray;
    font-family: 'Poppins', sans-serif;
}

#modal p {
    margin-bottom: 20px;
}