body{
    margin: 0;
}

.header {
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
    width: 100%;
    border-bottom: 5px solid darkslategray;
}

a {
    margin: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.section-1{
    text-align: center;
    padding: 20px;
}

.contact-info {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightgray;
    padding: 2px;
    border-top: 5px solid darkslategray;
    border-bottom: 5px solid darkslategray;
}

.contact-info input,
.contact-info label {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.footer {
    text-align: center;
    margin: 15px;
}